@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --dark-primary: #04937b;
  --primary: #4CAF50;
  --background: #FAF5FF;
  --background2: #54bd58;
  --dark-background: #1e1e1e;
  --sec-background: #F6F8FC;
  --text: #015749;
  --text2: #000;
  --dark-text: #5a5555;
  --on-primary: #0b0b0f;
  --surface: #0b0b0f;
  /* --color: ' */
}

html {
  scroll-behavior: smooth;
}

.tw-price-badge .leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
  border: 0;
  padding: 0;
}

.tw-price-badge .leaflet-popup-content {
  margin: 0;
}

.tw-price-badge .leaflet-popup-tip {
  display: none;
}

.tw-detail-popup .leaflet-popup-tip {
  display: none;
}


.tw-detail-popup .leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
  border: 0;
  padding: 0;
}

.tw-detail-popup .leaflet-popup-close-button {
  position: absolute;
  top: -10px;
  /* right: 8px; */
  z-index: 10;

  width: 22px;
  height: 22px;
  line-height: 18px;
  text-align: center;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background: rgba(16, 185, 129, 0.9);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
}

.tw-detail-popup .leaflet-popup-close-button:hover {
  background: #10b981;
  transform: scale(1.05);
}

/* Global input/select style */
.field {
  @apply w-full rounded-xl border px-4 py-2 text-sm outline-none border-gray-200 bg-white text-gray-900 placeholder:text-gray-500 focus:border-gray-300 focus:ring-2 focus:ring-gray-900/15;

  /* dark mode: still white, readable text */
  @apply dark:border-gray-300 dark:bg-white dark:text-gray-900 dark:placeholder:text-gray-500 dark:focus:ring-black/20;
}

/* Optional: make selects look consistent */
select.field {
  @apply pr-8;
  /* room for native arrow */
}